## pyspark Dataframes

* Filter operation
* &,|,==
* ~

In [2]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('Practise 4').getOrCreate()

In [7]:
spark

In [5]:
df_pyspark=spark.read.csv('f:/Spark/Data4.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Ayush| 20|         4| 10000|
|    Yash| 21|         3| 19000|
|  Prerna| 19|         1| 15000|
|   Nitan| 21|         2| 25000|
|Vikramye| 29|         2| 12000|
|   Bauaa| 24|         1| 23000|
+--------+---+----------+------+

## filter operation

In [8]:
##salary of the people having salary less than 17000
df_pyspark.filter('Salary<17000').show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Ayush| 20|         4| 10000|
|  Prerna| 19|         1| 15000|
|Vikramye| 29|         2| 12000|
+--------+---+----------+------+

In [11]:
df_pyspark.filter('Salary<17000').select(['Name','Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|   Ayush|         4|
|  Prerna|         1|
|Vikramye|         2|
+--------+----------+

In [15]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>15000)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|Yash| 21|         3| 19000|
+----+---+----------+------+

In [16]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>15000)).show()

+--------+---+----------+------+
|    Name|Age|Experience|Salary|
+--------+---+----------+------+
|   Ayush| 20|         4| 10000|
|    Yash| 21|         3| 19000|
|  Prerna| 19|         1| 15000|
|   Nitan| 21|         2| 25000|
|Vikramye| 29|         2| 12000|
|   Bauaa| 24|         1| 23000|
+--------+---+----------+------+

In [17]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Nitan| 21|         2| 25000|
|Bauaa| 24|         1| 23000|
+-----+---+----------+------+