In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('DataFrame').getOrCreate()

In [4]:
spark

In [12]:
## Read the dataset
df_pyspark=spark.read.option('header','true').csv('f:/Spark/Data.csv',inferSchema=True)

In [13]:
df_spark=spark.read.option('header','true').csv('f:/Spark/Data.csv')

In [14]:
## check th scheme
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [29]:
df_pyspark=spark.read.csv('f:/Spark/Data.csv',header=True,inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Ayush| 20|         4|
|    Yash| 21|         3|
|  Prerna| 19|         1|
|   Nitan| 21|         2|
|Vikramye| 18|         2|
+--------+---+----------+

In [30]:
## check th scheme
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [31]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [35]:
df_pyspark.head(3)

[Row(Name='Ayush', Age=20, Experience=4),
 Row(Name='Yash', Age=21, Experience=3),
 Row(Name='Prerna', Age=19, Experience=1)]

In [36]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Ayush| 20|         4|
|    Yash| 21|         3|
|  Prerna| 19|         1|
|   Nitan| 21|         2|
|Vikramye| 18|         2|
+--------+---+----------+

In [40]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|   Ayush|
|    Yash|
|  Prerna|
|   Nitan|
|Vikramye|
+--------+

In [42]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [43]:
df_pyspark.select(['Name','Age']).show()

+--------+---+
|    Name|Age|
+--------+---+
|   Ayush| 20|
|    Yash| 21|
|  Prerna| 19|
|   Nitan| 21|
|Vikramye| 18|
+--------+---+

In [46]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [49]:
df_pyspark.describe().show()

+-------+-----+------------------+------------------+
|summary| Name|               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    5|                 5|                 5|
|   mean| null|              19.8|               2.4|
| stddev| null|1.3038404810405297|1.1401754250991378|
|    min|Ayush|                18|                 1|
|    max| Yash|                21|                 4|
+-------+-----+------------------+------------------+

In [56]:
## Adding columns in data frame 
pyspark=df_pyspark.withColumn('Age After 9 years',df_pyspark['Age']+9)

In [58]:
pyspark.show()

+--------+---+----------+-----------------+
|    Name|Age|Experience|Age After 9 years|
+--------+---+----------+-----------------+
|   Ayush| 20|         4|               29|
|    Yash| 21|         3|               30|
|  Prerna| 19|         1|               28|
|   Nitan| 21|         2|               30|
|Vikramye| 18|         2|               27|
+--------+---+----------+-----------------+

In [61]:
##Dropping
pysparkdrop=pyspark.drop('Age after 9 years').show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|   Ayush| 20|         4|
|    Yash| 21|         3|
|  Prerna| 19|         1|
|   Nitan| 21|         2|
|Vikramye| 18|         2|
+--------+---+----------+

In [63]:
df_pyspark.withColumnRenamed('Name','New Name').show()

+--------+---+----------+
|New Name|Age|Experience|
+--------+---+----------+
|   Ayush| 20|         4|
|    Yash| 21|         3|
|  Prerna| 19|         1|
|   Nitan| 21|         2|
|Vikramye| 18|         2|
+--------+---+----------+