## Pyspark HAndling Mssing Values

    *Dropping Columns
    *Dropping Rows
    *Various parameter in F=Dropping Functionalities
    *Handling Mssing Values by Mean , Median and Mode

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise3').getOrCreate()

In [5]:
df_pyspark=spark.read.csv('f:/Spark/Data3.csv', header=True, inferSchema=True)

In [6]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Ayush|  20|         4| 10000|
|    Yash|  21|         3| 19000|
|  Prerna|  19|         1| 15000|
|   Nitan|  21|         2| 25000|
|Vikramye|null|      null| 12000|
|    null|  29|         2| 40000|
|    null|  10|      null|  null|
+--------+----+----------+------+

In [18]:
## How tpo Drop columns
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  20|         4| 10000|
|  21|         3| 19000|
|  19|         1| 15000|
|  21|         2| 25000|
|null|      null| 12000|
|  29|         2| 40000|
|  10|      null|  null|
+----+----------+------+

In [19]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Ayush|  20|         4| 10000|
|    Yash|  21|         3| 19000|
|  Prerna|  19|         1| 15000|
|   Nitan|  21|         2| 25000|
|Vikramye|null|      null| 12000|
|    null|  29|         2| 40000|
|    null|  10|      null|  null|
+--------+----+----------+------+

In [20]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ayush| 20|         4| 10000|
|  Yash| 21|         3| 19000|
|Prerna| 19|         1| 15000|
| Nitan| 21|         2| 25000|
+------+---+----------+------+

In [21]:
## any==how
df_pyspark.na.dropQ(how='all').show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Ayush|  20|         4| 10000|
|    Yash|  21|         3| 19000|
|  Prerna|  19|         1| 15000|
|   Nitan|  21|         2| 25000|
|Vikramye|null|      null| 12000|
|    null|  29|         2| 40000|
|    null|  10|      null|  null|
+--------+----+----------+------+

In [22]:
df_pyspark.na.drop(how='any').show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ayush| 20|         4| 10000|
|  Yash| 21|         3| 19000|
|Prerna| 19|         1| 15000|
| Nitan| 21|         2| 25000|
+------+---+----------+------+

In [54]:
###threshold ##Atleast non-values
df_pyspark.na.drop(how='any',thresh=3).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ayush| 20|         4| 10000|
|  Yash| 21|         3| 19000|
|Prerna| 19|         1| 15000|
| Nitan| 21|         2| 25000|
|  null| 29|         2| 40000|
+------+---+----------+------+

In [27]:
##subset
df_pyspark.na.drop(how='any',subset=['Experience']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Ayush| 20|         4| 10000|
|  Yash| 21|         3| 19000|
|Prerna| 19|         1| 15000|
| Nitan| 21|         2| 25000|
|  null| 29|         2| 40000|
+------+---+----------+------+

In [40]:
##Filling the missing values
df_pyspark.na.fill(1900, subset=['Experience']).show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Ayush|  20|         4| 10000|
|    Yash|  21|         3| 19000|
|  Prerna|  19|         1| 15000|
|   Nitan|  21|         2| 25000|
|Vikramye|null|      1900| 12000|
|    null|  29|         2| 40000|
|    null|  10|      1900|  null|
+--------+----+----------+------+

In [41]:
df_pyspark.show()

+--------+----+----------+------+
|    Name| Age|Experience|Salary|
+--------+----+----------+------+
|   Ayush|  20|         4| 10000|
|    Yash|  21|         3| 19000|
|  Prerna|  19|         1| 15000|
|   Nitan|  21|         2| 25000|
|Vikramye|null|      null| 12000|
|    null|  29|         2| 40000|
|    null|  10|      null|  null|
+--------+----+----------+------+

In [50]:
from pyspark.ml.feature import Imputer

imputer= Imputer(
        inputCols=['Age','Experience','Salary'],
        outputCols=["{}_imputs".format(c) for c in ['Age','Experience','Salary']]
        ).setStrategy('mean')
## Mean, Median ,Mode

In [51]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+--------+----+----------+------+----------+-----------------+-------------+
|    Name| Age|Experience|Salary|Age_imputs|Experience_imputs|Salary_imputs|
+--------+----+----------+------+----------+-----------------+-------------+
|   Ayush|  20|         4| 10000|        20|                4|        10000|
|    Yash|  21|         3| 19000|        21|                3|        19000|
|  Prerna|  19|         1| 15000|        19|                1|        15000|
|   Nitan|  21|         2| 25000|        21|                2|        25000|
|Vikramye|null|      null| 12000|        20|                2|        12000|
|    null|  29|         2| 40000|        29|                2|        40000|
|    null|  10|      null|  null|        10|                2|        20166|
+--------+----+----------+------+----------+-----------------+-------------+